body{
   background: #2f4f42;
}

aside{
   float: left;
   background: #0deb73;
   width: 20% ;
   padding: 2.5%;
   height: 100vh;
   color: white;
   border-right: 5px solid #7b9c48;
}

aside img{
   width: 150px;
   height: 100px;
   float: left;
   transition:  all .1s ease;
}

aside .logo{
   font-size: medium;
   margin-left: 30px;
   font-weight: bold;
   color: red;
}

aside h3{
    margin-top: 100px;
    margin-left: 10px;
    font-size: 30px;
}

aside ul{list-style: none;}
aside ul li{
    color: white;
    display: block;
    margin-top: 20px;
    transition:  transform .6s ease;
}

aside ul li:hover, aside ul a:hover, aside img:hover{
   color: aquamarine;
   text-decoration: none;
   transform: scale(1.5);

}

main .zlo{
   float: left;
   color: whitesmoke;
   margin-top: 100px;
   text-align: center;
   width: 75%;
}

main .zlo h1{font-size: 50px;}
main .zlo p{max-width: 400px; margin: 20px auto}

.alert-warning{
   background: yellow;
   float: left;
   clear: both;
   width: 400px;
   margin: 20px 34%;
   text-align: left;
}

form{
   margin-left: 32%;
   width: 500px;
   margin-top: 50px;
}

span .error{
   color: red;
}